.login2{
    margin-left: 50px;
    margin-top: 200px;
}
.ip{
    width: 370px;
    border:none;
    border-bottom: 1px solid silver;
    outline: none;
    padding: 10px;
    font-size: 15px;
}
#pass{
    font-size:medium;
    font-family: verdana;
    letter-spacing: 0.15em;
}
#login-btn{
    width: 125px;
    height: 33px;
    background-color:  rgb(5, 83, 156);
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
}
